<a href="https://colab.research.google.com/github/krsna540/Hackthons/blob/master/HDFC_Hackthon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization
import seaborn as sns # for heatmap plot
# Suppressing Warnings
import warnings
warnings.filterwarnings('ignore')

In [8]:
df=pd.read_csv("/content/drive/My Drive/Colab Notebooks/DataSet/Train.csv")
df.shape

(17521, 2395)

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
df.head()

        Col1  Col2          Col3  ...  Col2395  Col2396  Col2397
0    RIGHGSN     1  1.086711e+04  ...     22.0     22.0      7.0
1  RIMHI5ZGP     0  2.584312e+05  ...     12.0     12.0     11.0
2  RIHOG1SZU     0  1.459355e+07  ...     21.0     21.0     16.0
3  RIHOLMQWU     0  6.727043e+05  ...    951.0    951.0    743.0
4  RIHO584ET     0 -1.218742e+06  ...   2205.0   2205.0   1831.0

[5 rows x 2395 columns]

In [0]:
df.drop('Col1', axis=1, inplace=True)
df.rename(columns={'Col2': 'Status'}, inplace=True)

In [14]:
df.head()

   Col2          Col3          Col4  ...  Col2395  Col2396  Col2397
0     1  1.086711e+04  8.648345e+03  ...     22.0     22.0      7.0
1     0  2.584312e+05  2.179633e+05  ...     12.0     12.0     11.0
2     0  1.459355e+07  1.260060e+07  ...     21.0     21.0     16.0
3     0  6.727043e+05  8.181116e+05  ...    951.0    951.0    743.0
4     0 -1.218742e+06 -3.005361e+06  ...   2205.0   2205.0   1831.0

[5 rows x 2394 columns]